<form id="editor_form" action="/song" method="post">
  <div class="editor" style="width: <%= @width %>px">
    <% 30.times do |i| %>
      <span>
      <% @notes.each_index do |j| %>
        <input type="checkbox" name="notes[<%=i%>][<%=j%>]" value="<%=@notes.at(j)%>" />
        <img src="/img/ball-16x16.png" />
      <% end %>
      </span>
    <% end %>
    <input type="submit" />
  </div>
</form>
