<div class="centered">
  <div id="video" title="<%= @song.id %>"></div>
  <form id="greeting" method="post" action="/greeting">
    <input type="hidden" name="song_id" value="<%= @song.id %>" />
    Your email:<input type="text" name="from" value="<%= @song.email %>"/>
    Friends email:<input type="text" name="to" /><br/>
    <textarea name="message" />Lorem ipsum.</textarea><br />
    <input type="submit" value="Send awesomeness!" />
  </form>
</div>